.venv
__pycache__
crypto_trading_v2.egg-info
build
service_account_key.json

# ===================== PIPELINE =====================
trading/data
trading/pipeline_logs


# ===================== CHARTING =====================
# dependencies
charts/node_modules
charts/.pnp
.pnp.js

# testing
charts/coverage

# production
charts/build

# misc
charts/.DS_Store
charts/.env.local
charts/.env.development.local
charts/.env.test.local
charts/.env.production.local

charts/npm-debug.log*
charts/yarn-debug.log*
charts/yarn-error.log*

# POSTGRESQL DATABASE
pgdata

# Service accounts
crypto-trading-v2*